/* Style for the Navbar */

.bounce {
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

.color-change {
  animation: colorChange 3s infinite;
}

@keyframes colorChange {
  0% {
    color: red;
  }
  25% {
    color: blue;
  }
  50% {
    color: green;
  }
  75% {
    color: orange;
  }
  100% {
    color: red;
  }
}

.discord-navbar {
  background-color: #23272a !important;
  padding: 15px;
}

/* Space between Discord logo and text */
.discord-navbar .navbar-brand img {
  margin-right: 10px;
}

/* Style for Nav links */
.navbar-nav .nav-link {
  font-size: 1rem;
  padding-right: 10px;
}

/* Space for careers and login */
.navbar-nav .nav-link:last-child {
  margin-right: 20px;
}

/* Login Button */
.login-container {
  margin-left: auto; /* This aligns the login button to the right */
}

/* Login link style */
.login-link {
  background-color: white;
  color: black;
  font-weight: bold;
  border: none;
  padding: 8px 20px;
  text-decoration: none;
  display: inline-block;
}

/* Hover effect for the login button */
.login-link:hover {
  background-color: #f5f5f5;
  color: black;
}

/* Media query for smaller screens */
@media (max-width: 991px) {
  /* Space between "Careers" and "Login" in sidebar */
  .navbar-nav .nav-link:last-child {
    margin-bottom: 20px;
  }

  /* Add extra padding to Login button in sidebar view */
  .login-link {
    padding: 12px 40px;
  }
}
